<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/starts.css">
        <title>Login</title>
</head>
</html>
    <body>
        <div id="starts">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

        <div class="contain">
        <div class="container">
            <div class="heading">Sign In</div>
            <form action="" class="form">
              <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
              <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
              <span class="forgot-password"><a href="forgot-password.html">Forgot Password?</a></span>
              <input class="login-button" type="submit" value="Sign In">

              <p class="create-account">You do not have an account? <a href="create-account.html" target="_blank">Create account</a></p>
            </form>
            <div></div>
        </div>
    </body>
</html>